<div class="container">
  <div class="row">
    <div class="col-xl-4">
      <ul class="list-group">
        <li [class.active]="post === selectedPost" class="list-group-item list-group-item-action post-link"
            *ngFor="let post of posts" (click)="onSelect(post)">
          {{getPostTitle(post)}}
        </li>
      </ul>
    </div>
    <div class="col-xl-8">
      <div class="selected-post" *ngIf="selectedPost !== undefined">
        <ul class="list-group">
          <li *ngFor="let segment of selectedPost.segments" class="list-group-item list-group-item-action">
            <div class="form-group">
              <label for="exampleTextarea">{{segment.text}}</label>
              <textarea class="form-control" id="exampleTextarea" placeholder="translation here" rows="2"></textarea>
            </div>
          </li>
          <li class="list-group-item list-group-item-action">
            <button type="submit" class="btn btn-outline-primary float-left">Save</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
